@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: "#3AAFA9";
  --color-secondary :"#E9AB54";
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}